@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-background: rgb(45, 44, 44);
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-background);
}
.app {
  height: 100vh;
  width: 100vw;
}
